body {
  background-color: #fefcec;
}

table {
  margin: auto;
  width: 75vw;
  background-color: #eece57;
  border-radius: 40px;
  height: 30px;
  margin-top: 40px;
  border-collapse: collapse;
  overflow: hidden;
}

a {
  text-decoration: none;
}

th {
  border-right: solid #fefcec 6pt;
}

#buttons {
  position: relative;
  left: 50%;

  margin: -70px 0 0 -170px;
}

.word {
  font-size: 20vw;
  font-size: calc(50px + 1vh);
  font-family: sans-serif;
  color: #563412;
  text-align: left;
  margin-bottom: 60%;
}
.word2{ 

  font-family: sans-serif;
  color: #563412;
  text-align: left;
  margin-bottom: 60%;
}

.word3{
  font-size: 8vw;
  font-family: sans-serif;
  color: #563412;
  text-align: left;
}
.dif {
  margin: auto;
  height: 50vh;
  width: 50vw;
}

.button1 {
  background-color: #eece57;
}

.button2 {
  background-color: #62b253;
}
a{
  text-decoration: none;
  color: #fefcec;

}

button {
  height: 60px;
  width: 160px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 40px;
  font-size: 30px;
  color: #fefcec;
}

label {
  font-family: sans-serif;
  font-size: 20px;
  color: #563412;
}

input.text {
  padding-top: 20px;
}

.green {
  background-color: green;
}


@media only screen and (max-width: 768px)  {
  .word {
font-size:40px;  }
  table {
    border-radius: 100px;
  }
 
  button{
    height:50px;
    width:100px;
    font-size: 25px;
  }
  th {
  border-right: solid #fefcec 3pt;
}


}
